.cart-item-container{
    padding: 5% 0;
    
}

.cart-item-img{
    width: 6rem;
    
}

.cart-item{
    display: flex;
    padding: 2rem;
    margin:2rem 0;
    border: 1px solid #555;
    border-radius: 2rem;
}

.cart-item-content-contaniner{
    padding-left: 3rem;
    padding-top: 10px;
}

.cart-item-content-contaniner p{
    padding-top:1.8rem;
}

.price{
    padding-top: 2rem;
    color: var(--primary-color-bright);
}