.signup-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-img-container{
    width:45%;
    overflow: hidden;
}
.signup-img-container img{
    width:100%;
    height: 100vh;
    object-fit: contain;
}


.form-input{
   
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;

}
.form-group{
    padding:1rem 0;
}

.form-label{
    display: inline-block;
    color:var(--white-color);
    padding-bottom: 5px;
}

.form-signup{
    display: inline-block;
    color:var(--white-color);
    text-decoration: none;
    background-color: var(--primary-color-bright);
    padding: 0.8rem 2rem;
    border-radius: 7px;


}

.form-signup:hover{
    background-color: var(--primary-color);
}

.signup-content-container{
    width: 45%;
}

.content-wrapper{
    padding-right: 3rem;
}

.content-wrapper h2{
    padding-bottom: 1rem;
    font-size: 2rem;
}
