.product-listing-card{
    border: 1px solid #aaa;
    width:100%;
    padding:2rem 2rem;
    
    }
    
    .product-listing-img-container{
        width:100%;
        height: 15rem;
        text-align: center;
    }

    .product-listing-image
    {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .product-listing-detail-container{
        padding-top:2rem;
        min-height: 10rem;
        
    
    }
    
    .autor{
        font-size: 0.9rem;
        padding-top: 0.5rem 0;
    }
    .pricing{
        font-size: 1.5rem;
        font-weight: 700;
        color:var(--primary-color-bright);
    }
    .button{
        display: inline-block;
        background-color:var(--primary-color-bright);
        width:100%;
        padding: 1rem 0;
    
        text-align: center;color:white;
        font-size: Chivo Mono;
        text-decoration: none;
        border-radius: 12px;
        margin-top: 2rem;
        transition: 0.2s ease-in-out;
    }
    
    .button:hover{
        color:black;
    }
